.example-container {
  width: 100%;
  height: 80vh;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

mat-drawer{
  width: 100%;
  top: 50%;
  transform: translate3d(0, 200%, 0);
}