@import "variables";

.home-btn{
  height: 70px;
  background: $light-grey;

  .btn{
    color: $link-text;
    height: 100%;
    width: 100%;
    text-align: center;
    font:  2em /1.5 serif; 
  }
}