@import "variables";
.mat-expansion-panel{
  background:  $light-grey;
  border-radius: 0;
  box-shadow: none;
  
  .mat-expansion-panel-header{
    padding: 0;
  }
  &.mat-expansion-panel .mat-expansion-panel-header:hover {  //?костиль
    background: $light-grey;
  }
  mat-panel-title{
    color: $link-text;
    padding: 0 24px;
    app-burger{
      position: relative;
      right: -85%;
    }
  }
  .mat-grid-tile{
    border-radius: 16px;
  }
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $main-green;
    color: $link-text;
    height: 100%;
    width: 100%;
  }
}
// mat-drawer{
//   width: 100%;
//   top: 50%;
//   transform: translate3d(0, 200%, 0);
// }