<mat-expansion-panel hideToggle (opened)="expand()" [expanded]="isExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      MENU
      <app-burger></app-burger>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile *ngFor="let item of menuItem">
      <a (click)="hide(item.routerLink)">{{ item.title }}</a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-expansion-panel>
<!-- <mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="over">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile *ngFor="let item of menuItem">
        <a routerLink="{{ item.routerLink }}">{{ item.title }}</a>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer>
  <mat-drawer-content
    (click)="drawer.toggle()"
    (click)="ifShow = !ifShow"
    [ngClass]="{ active: !ifShow }"
  >
    MENU
  </mat-drawer-content>
</mat-drawer-container> -->
<!-- <mat-expansion-panel hideToggle>
  <mat-expansion-panel-header (click)="drawer.toggle()">
    <mat-panel-title>MENU </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer [mode]="over">
      <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile *ngFor="let item of menuItem">
          <a routerLink="{{ item.routerLink }}">{{ item.title }}</a>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-drawer>
    <mat-drawer-content> </mat-drawer-content>
  </mat-drawer-container>
</mat-expansion-panel> -->
